/*---------------------
  Header
-----------------------*/

.header-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-section.header-normal {
    border-bottom: 1px solid #e5e5e5;
}

.logo {
    float: left;
    padding-top: 36px;
    padding-bottom: 37px;
}

.logo a {
    display: inline-block;
}

.nav-menu {
    float: right;
}

.nav-menu .mainmenu {
    display: inline-block;
}

.nav-menu .mainmenu ul li {
    display: inline-block;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

.nav-menu .mainmenu ul li .dropdown {
    position: absolute;
    width: 180px;
    background: #ffffff;
    z-index: 99;
    left: 0;
    top: 130px;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 4px 13px 30px rgba(0, 0, 0, 0.15);
    box-shadow: 4px 13px 30px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-menu .mainmenu ul li .dropdown li {
    display: block;
    margin-right: 0;
}

.nav-menu .mainmenu ul li .dropdown li a {
    padding: 8px 10px;
    display: block;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: capitalize;
}

.nav-menu .mainmenu ul li .dropdown li a:hover {
    color: #f44949;
}

.nav-menu .mainmenu ul li .dropdown li a:after {
    display: none;
}

.nav-menu .mainmenu ul li.active a:after {
    opacity: 1;
}

.nav-menu .mainmenu ul li:hover>a:after {
    opacity: 1;
}

.nav-menu .mainmenu ul li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    top: 100px;
}

.nav-menu .mainmenu ul li a {
    font-size: 16px;
    color: #171822;
    text-transform: uppercase;
    font-weight: 600;
    padding: 42px 0;
    position: relative;
    display: inline-block;
}

.nav-menu .mainmenu ul li a:after {
    position: absolute;
    left: 0;
    bottom: 36px;
    height: 2px;
    width: 100%;
    background: #F44949;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-menu .primary-btn.top-btn {
    margin: 27px 0;
}

.slicknav_menu {
    display: none;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: #555;
    }
}




.section-hero {
    background: url(../img/hero.jpg);
    height: 110vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    &__text-container {
        height: 110vh;

    }

}