.section-hero {
    background: url(../img/hero.jpg);
    height: 110vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    &__text-container {
        height: 110vh;
    }
}