.section-about {
    margin: 0;

    &__list-main {
        margin: 0;
        list-style: none;
    }

    &__list-item {
        font-size: 1.6rem;
    }

    &__text-container {
        // background: rba(0, 0, 0, 0.5);
        // background: #000;
    }

}


.subs-form {
    height: 60px;
    border-radius: 100px;
    font-size: 16px;
    padding: 0 2rem;
}

.subs-button {
    position: relative;
    margin-left: -175px;
}

.icons {
    &:before {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        margin-left: -20px;
        border: 1px solid red;
        padding: 1rem;
        border-radius: 50%;
    }
}