.icon {
    &:before {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        margin-left: -20px;
        border: 1px solid red;
        padding: 1rem;
        border-radius: 50%;
    }
}

.social-link:hover .icon {
    color: red;
}

.link {

    &:link,
    &:visited {
        text-decoration: none;
    }

    &:hover,
    &:active {
        text-decoration: none;
    }
}