.text-lvl-primary {
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.3em;

    @include media-breakpoint-down (sm) {
        font-size: 4rem
    }
}

.text-lvl-secondary {
    font-size: 4rem;
}

.text-lvl-tertiary {
    font-size: 3rem;
}

.text-lvl-quinary {
    font-size: 1.6rem;
    font-weight: 400;
}

.para {
    font-size: 1.6rem;
}

.text-copyright {
    font-size: 12px;
}