.text-lvl-primary {
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.3em;

    @include media-breakpoint-down (sm) {
        font-size: 4rem
    }
}

.text-lvl-secondary {
    font-size: 4rem;
    font-weight: 600
}

.text-lvl-tertiary {
    font-size: 3rem;
    font-size: 800;

    @include media-breakpoint-down (sm) {
        font-size: 2.8rem;
    }
}

.text-lvl-quinary {
    font-size: 1.6rem;
    font-weight: 600;
}

.para {
    font-size: 1.6rem;

    &--counter {
        @include media-breakpoint-down (sm) {
            font-size: 1.2rem;
        }
    }
}

.text-copyright {
    font-size: 1.2rem;
}